
<nav>
  <div *ngIf='hide1'>
    <a  (click)="hide()" routerLink="/firstpage">stackoverflow.com</a>
  </div>
</nav>
<router-outlet ></router-outlet>
<button (click)="modal.show()">Show</button>

<app-modal #modal></app-modal>



















































<!-- <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row">
    <div
      class="col-lg-12"
      style="background-color:lavender;"
    >
      <h1>1</h1>
    </div>
  </div>
<br>
  <div class="row">
    <div
      class="col-lg-4"
      style="background-color:orange;"
    >
      <h1>2</h1>
    </div>

    <div
      class="col-lg-4"
      style="background-color:white;"
    >
      <h1>3</h1>
    </div>

    <div
      class="col-lg-4"
      style="background-color:green;"
    >
      <div class="row">
        <h5>
          4
        </h5>
      </div>
      <div class="row"  style="background-color:yellow;">
        <h5>5</h5>
      </div>
    </div>
  </div> 
  <br>
  <div class="row">
      <div
        class="col-lg-2"
        style="background-color:red;"
      >
        <h1>6</h1>
      </div>
  
      <div
        class="col-lg-2"
        style="background-color:black;"
      >
        <h1>7</h1>
      </div>

      <div
        class="col-lg-2"
        style="background-color:green;"
      >
        <h1>8</h1>
      </div>
      <div
        class="col-lg-2"
        style="background-color:brown;">
        <h1>9</h1>
    </div>
    <div
    class="col-lg-4"
    style="background-color:orange;"
  ><div class="row0"><p>10</p></div>
  <div class="row1">
    <p style="background-color:blue">11
      
      
      
      
      
      
      
      
      
    </div>
</div>
</div>
<br>
<div class="row">
    <div class="col-lg-6"style="background-color:blue;"><p>12</p></div>

<div class="col-lg-6" style="background-color:green;" >
  <p>13</p>
</div>
</div>
    </div>
   -->

 


<!-- <app-top-ques></app-top-ques> -->

<!-- <app-log-in></app-log-in> -->
 <!-- <app-firstpage></app-firstpage>  -->
<!-- <app-sign-up></app-sign-up>

<app-answers></app-answers>  -->
<!-- <app-ques-blog></app-ques-blog> -->